{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Página no disponible</h1>

    <p>Lo sentimos, parece que la página que busca no esta disponible ahora mismo.</p>
	<p><a href="{{ path('homepage') }}">Volver al inicio</a>.</p>
{% endblock %}
