{# app/Resources/views/Emails/registration.html.twig #}

<h1>¡Hola Profesor!</h1>

<h2>Tienes alumnos por aprobar.</h2><br>

{# example, assuming you have a route named "login" #}
<h2>Activó su cuenta alumno {{alumno.Nombre|title}} {{alumno.Apellido1|title}}
                            {{alumno.Apellido2|title}} con email {{alumno.email}}.</h2><br>

<hr>
<p style="color:#363636;font-size:9px;font-family:Arial,Helvetica,sans-serif;text-align:justify">
(*)Aviso: Esta dirección de correo está destinada únicamente al envío de información
sobre la bolsa de trabajo de IES José Planes, por favor no conteste a este correo.</p>


{# Makes an absolute URL to the /images/logo.png file #}
